/* Webpage */
body {
    background-color: rgb(255, 255, 255);
    
    width: 100%;
    height: 100%;
    
    margin: 0px;
    padding: 0px;
}

*{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.card {
    flex-basis: 200px;
}

.container > #header {
    width: 98%;
}

.container > #body {
    width: 98%;
    flex:2;
}

h1 {
    background-color: rgb(255, 255, 30);
    
    margin: 5px;
    padding: 10px;
    border: solid rgb(0, 0, 0);
        border-width: 5px 5px;
    
    font-size: 80px;
    text-align: center;
}

h2 {
    background-color: rgb(255, 255, 30);

    margin: 5px;
    padding: 5px;
    border: solid rgb(0, 0, 0);
        border-width: 2px 2px;
    
    font-size: 40px;
    text-align: center;
}

/* Body */
.arrow-button {
    position: absolute;
    rotate: 90deg;
}

#video-section {
    background-color: rgb(129, 255, 112);
}

#photo-section {
    background-color: rgb(112, 234, 255);
}

.select-section {
    width: 50px;

    margin: 0;
    padding: 0;
    border-style: none;
        border-radius: 50%;

    font-size: 20px;
    font-weight: 900;
}

#video-Div {
    
    border: 2px groove black;

    background-color: rgb(112, 234, 255);
}

#photo-Div {
    border: 2px groove black;

    background-color: rgb(129, 255, 112);
}

#video-container {   
    width: 100%;
    height: 100%; 

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.video {
    width: 95%;
    border: 2px solid black;
}

#image-container {   
    width: 100%;
    height: 100%; 
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.image {
   width: 95%;
   border: 2px solid black;
}

#add-photos > h3{
    width: 50%;

    background-color: rgb(255, 255, 30);

    margin: 5px;
    border: 2px solid black;
    
    font-size: 100px;
}

#add-videos > h3{
    width: 50%;

    background-color: rgb(255, 255, 30);

    margin: 5px;
    border: 2px solid black;
    
    font-size: 100px;
}

/* section change button */
#selector {
    flex-basis: 50px;
}
.section-change-btn {
    width: 90%;

    border: solid rgb(122, 122, 122);
        border-width: 2px;

    background-color: rgb(255, 255, 30);

    font-size: 20px;
    font-weight: 900;
}

.section-change-btn h4 {
    flex-basis: 300px;
    background-color: rgb(0, 0, 0);
    
    margin: 5px 20px;
    padding: 2px;
    border: solid rgb(0, 0, 0);
        border-width: 2px 3px;
    
    font-size: 20px;
}

.green {
    color: rgb(129, 255, 112);
}

.blue {
    color: rgb(112, 234, 255);
}

/* Footer */
#footer > div {
    background-color: rgb(255, 255, 30);
    
    margin: 10px;
    padding: 10px;
    border: solid rgb(0, 0, 0);
        border-width: 2px;
    
    text-align: center;
}

#add-media-Div > label {
    border-style: none;

    background-color: rgb(255, 255, 30);
    font-size: 20px;
    font-weight: 900
}

.media {
    display: none;
}

/* Animations */
.btn-shadow {
    box-shadow: 2px 2px rgba(0,0,0,0.6);
}

.text-flash {
    color:red;
}

/* Small Webpage Size */
@media (max-width:650px){
    /* Title */
    h1 {
        border: 5px solid rgb(0, 0, 0);
        font-size: 60px;
        line-height: 2;
    }

    /* body */
    #video-container {   
        width: 100%;
        height: 100%; 
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    
    .video {
        width: 95%;
        border: 2px solid black;
    }
    
    #image-container {   
        width: 100%;
        height: 100%; 
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    
    .image {
       width: 95%;
       border: 2px solid black;
    }

    #add-photos > label > h3{
        width: 50%;
    
        background-color: rgb(255, 255, 30);
    
        margin: 5px;
        border: 2px solid black;
        
        font-size: 30px;
    }
    
    #add-videos > label > h3{
        width: 50%;
    
        background-color: rgb(255, 255, 30);
    
        margin: 5px;
        border: 2px solid black;
        
        font-size: 30px;
    }
}
